config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-emerald-frigatebird.sh
        container: qc.acc_crappy-black-gibbon
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-cornflower-bat.sh
        container: qc.doc_fuzzy-ecru-boar
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.woolly-malachite-bison.sh
        container: qc.doc_gummy-tomato-wallaby
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.ready-white-markhor.sh
        container: qc.doc_flabby-apricot-dodo
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-taupe-falcon.sh
        container: qc.lic_paltry-violet-tetra
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-cinnabar-gibbon.sh
        container: qc.sec_gummy-celadon-orangutan
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-teal-ladybird.sh
        container: qc.sty_slaphappy-heliotrope-malamute
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-brown-toad.sh
        container: qc.uni_scanty-jade-gopher
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-teal-opossum.sh
        container: qc.ver_woolly-celadon-urchin
timeout: 5400
