config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-yellow-moose.sh
        container: qc.acc_gamy-peach-bandicoot
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-magnolia-koala.sh
        container: qc.doc_snippy-wheat-mau
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-buff-moorhen.sh
        container: qc.doc_sleepy-salmon-mongoose
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-cyan-manatee.sh
        container: qc.doc_lousy-cyan-zonkey
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-pumpkin-chinook.sh
        container: qc.lic_freaky-charcoal-whale
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.beady-cornflower-raccoon.sh
        container: qc.sec_silly-saffron-sloth
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-yellow-chimpanzee.sh
        container: qc.sty_slaphappy-amber-chow
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-plum-crane.sh
        container: qc.uni_foggy-magenta-bonobo
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-celadon-sponge.sh
        container: qc.ver_tasty-cinnabar-stoat
timeout: 5400
