config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-fuchsia-markhor.sh
        container: qc.acc_squirrely-white-binturong
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-viridian-shark.sh
        container: qc.doc_paltry-buff-ostrich
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-harlequin-schnauzer.sh
        container: qc.doc_woozy-lime-liger
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-myrtle-bat.sh
        container: qc.doc_shabby-tomato-dalmatian
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-cerulean-horse.sh
        container: qc.lic_skimpy-sangria-armadillo
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-brass-cassowary.sh
        container: qc.sec_homey-sangria-beetle
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-corn-toad.sh
        container: qc.sty_skanky-copper-kakapo
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-red-flamingo.sh
        container: qc.sty_gummy-turquoise-clam
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-khaki-cockroach.sh
        container: qc.uni_woolly-celadon-cuscus
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-champagne-octopus.sh
        container: qc.ver_paltry-bronze-setter
timeout: 5400
