config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-maroon-scorpion.sh
        container: qc.acc_seedy-red-flamingo
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-mustard-fossa.sh
        container: qc.doc_cheeky-orange-uguisu
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-grey-gar.sh
        container: qc.doc_scanty-olive-ladybird
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-copper-emu.sh
        container: qc.doc_scummy-smalt-sparrow
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-coral-eagle.sh
        container: qc.lic_flimsy-harlequin-bee
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-silver-ladybird.sh
        container: qc.sty_skinny-tomato-reindeer
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-auburn-ragdoll.sh
        container: qc.sty_scaly-indigo-chinchilla
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-corn-anteater.sh
        container: qc.ver_fuzzy-rose-fowl
timeout: 5400
