config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-malachite-uakari.sh
        container: qc.acc_scummy-chocolate-frigatebird
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.nerdy-bronze-hedgehog.sh
        container: qc.doc_pretty-vermilion-chin
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-goldenrod-owl.sh
        container: qc.doc_surly-jade-chameleon
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-denim-anteater.sh
        container: qc.doc_sickly-yellow-pinscher
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-olivine-ibis.sh
        container: qc.lic_baggy-vermilion-gar
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-ochre-ragdoll.sh
        container: qc.sec_cloudy-plum-koala
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-purple-yak.sh
        container: qc.sty_skanky-emerald-kiwi
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.woolly-brown-woodpecker.sh
        container: qc.uni_bumpy-bronze-chow
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-periwinkle-wolf.sh
        container: qc.ver_leaky-indigo-cassowary
timeout: 5400
