config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-turquoise-badger.sh
        container: qc.sty_smelly-harlequin-maltese
timeout: 5400
