config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-linen-cheetah.sh
        container: qc.acc_whiny-tomato-discus
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-zucchini-zonkey.sh
        container: qc.doc_bumpy-bronze-beaver
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-copper-indri.sh
        container: qc.doc_trippy-white-quetzal
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-cyan-seal.sh
        container: qc.doc_sleazy-cinnabar-flamingo
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-linen-abyssinian.sh
        container: qc.lic_skinny-violet-warthog
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-auburn-bongo.sh
        container: qc.sec_tacky-aquamarine-walrus
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-brass-kakapo.sh
        container: qc.sty_cranky-goldenrod-akita
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-peach-vole.sh
        container: qc.uni_smelly-ruby-rattlesnake
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-black-slug.sh
        container: qc.ver_queasy-aqua-dunker
timeout: 5400
