config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-harlequin-devil.sh
        container: qc.acc_squirrely-denim-kakapo
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-brown-antelope.sh
        container: qc.doc_lumpy-platinum-balinese
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-gold-whale.sh
        container: qc.doc_trippy-taupe-chinchilla
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.cheeky-fuchsia-toad.sh
        container: qc.doc_droopy-white-kudu
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-burgundy-maltese.sh
        container: qc.lic_sloppy-goldenrod-havanese
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-gold-macaque.sh
        container: qc.sec_snoopy-thistle-labradoodle
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-violet-oriole.sh
        container: qc.sty_gimpy-rose-hyrax
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-amethyst-baboon.sh
        container: qc.uni_snippy-amethyst-mongoose
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-smalt-llama.sh
        container: qc.ver_shabby-brass-magpie
timeout: 5400
