config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-gamboge-cattle.sh
        container: qc.acc_geeky-yellow-lemming
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-ochre-ladybird.sh
        container: qc.doc_nippy-tomato-axolotl
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-cobalt-rabbit.sh
        container: qc.doc_woozy-russet-fish
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-myrtle-blue.sh
        container: qc.doc_beady-aqua-panda
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-plum-dragon.sh
        container: qc.lic_shabby-russet-ladybird
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.surly-olivine-manatee.sh
        container: qc.sec_wimpy-ochre-fossa
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.messy-khaki-impala.sh
        container: qc.sty_wimpy-beige-whippet
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-orange-quokka.sh
        container: qc.sty_ugly-cerise-wolverine
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-azure-chihuahua.sh
        container: qc.uni_skanky-cerise-abyssinian
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-crimson-catfish.sh
        container: qc.ver_sloppy-bronze-labradoodle
timeout: 5400
