config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-corn-duck.sh
        container: qc.acc_homey-myrtle-abyssinian
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-white-catfish.sh
        container: qc.doc_dorky-apricot-greyhound
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-lilac-peccary.sh
        container: qc.doc_woozy-pink-chicken
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-gold-fossa.sh
        container: qc.doc_homey-pink-bonobo
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.silly-emerald-tang.sh
        container: qc.lic_snippy-copper-warthog
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-razzmatazz-budgerigar.sh
        container: qc.sec_dorky-flax-lizard
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-brass-armadillo.sh
        container: qc.sty_boozy-pink-warthog
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-thistle-spoonbill.sh
        container: qc.sty_shaggy-tan-octopus
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-mustard-dunker.sh
        container: qc.uni_scummy-wheat-drever
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-coral-owl.sh
        container: qc.ver_queasy-brown-ibis
timeout: 5400
