config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-cerulean-moose.sh
        container: qc.acc_trippy-emerald-turtle
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-viridian-bat.sh
        container: qc.doc_wheezy-auburn-moth
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-orchid-tamarin.sh
        container: qc.doc_squeaky-cardinal-urchin
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-ultramarine-akbash.sh
        container: qc.doc_wimpy-heliotrope-wolverine
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-apricot-mastiff.sh
        container: qc.lic_bumpy-apricot-bloodhound
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-copper-paradise.sh
        container: qc.sec_skinny-amethyst-bison
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.homey-cornflower-dunker.sh
        container: qc.sty_stinky-magnolia-ostrich
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-ivory-yak.sh
        container: qc.uni_crappy-orchid-eagle
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-seashell-spoonbill.sh
        container: qc.ver_skinny-auburn-sloth
timeout: 5400
