config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.homey-magenta-coati.sh
        container: qc.acc_pasty-brown-snake
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-cornflower-capuchin.sh
        container: qc.doc_wheezy-lavender-dunker
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-smalt-fly.sh
        container: qc.doc_pokey-peach-bombay
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-wisteria-badger.sh
        container: qc.doc_silly-eggplant-oyster
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-yellow-frog.sh
        container: qc.lic_greasy-thistle-macaw
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-champagne-mist.sh
        container: qc.sty_paltry-burgundy-fossa
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-chocolate-chameleon.sh
        container: qc.sty_gamy-ultramarine-cockroach
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.randy-taupe-mastiff.sh
        container: qc.ver_wheezy-chestnut-capuchin
timeout: 5400
