config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-auburn-tarsier.sh
        container: qc.acc_wheezy-aqua-whale
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-peach-schnauzer.sh
        container: qc.doc_bluesy-green-catfish
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-ochre-rhinoceros.sh
        container: qc.doc_scanty-grey-bracke
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-denim-moorhen.sh
        container: qc.doc_slimy-blue-deer
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-brass-mammoth.sh
        container: qc.lic_lousy-chestnut-foxhound
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-khaki-nightingale.sh
        container: qc.sec_grumpy-silver-axolotl
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-brass-deer.sh
        container: qc.sty_skimpy-magenta-slug
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-burgundy-schnauzer.sh
        container: qc.uni_sleazy-crimson-ragdoll
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-zucchini-bonobo.sh
        container: qc.ver_lumpy-pink-beaver
timeout: 5400
