config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-cornflower-wrasse.sh
        container: qc.acc_sleazy-orchid-dalmatian
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-white-duck.sh
        container: qc.doc_gummy-vermilion-akita
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-crimson-frog.sh
        container: qc.doc_pretty-zucchini-eagle
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.lousy-coral-moose.sh
        container: qc.doc_homey-brass-bordeaux
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-wheat-oyster.sh
        container: qc.lic_flabby-pumpkin-uakari
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-wisteria-havanese.sh
        container: qc.sec_gamy-aqua-elephant
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-indigo-wolf.sh
        container: qc.sty_hazy-aquamarine-warthog
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-khaki-chinchilla.sh
        container: qc.uni_gummy-teal-kakapo
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-cinnamon-bear.sh
        container: qc.ver_dorky-harlequin-hyena
timeout: 5400
