config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-peach-frog.sh
        container: qc.acc_clammy-lavender-lionfish
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-aquamarine-mau.sh
        container: qc.doc_wimpy-plum-markhor
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-black-indri.sh
        container: qc.doc_sickly-khaki-echidna
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-malachite-bee.sh
        container: qc.doc_skinny-cobalt-camel
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-cinnabar-chihuahua.sh
        container: qc.lic_nerdy-asparagus-tamarin
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.ready-lemon-moorhen.sh
        container: qc.sec_wimpy-emerald-rat
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.homely-olive-mist.sh
        container: qc.sty_crappy-pear-boar
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-zucchini-hamster.sh
        container: qc.uni_cranky-copper-duck
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-champagne-chinchilla.sh
        container: qc.ver_hilly-bistre-mandrill
timeout: 5400
