config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-wisteria-eel.sh
        container: qc.acc_ugly-peach-uguisu
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-burgundy-meerkat.sh
        container: qc.doc_skimpy-persimmon-snail
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-turquoise-gopher.sh
        container: qc.doc_crappy-viridian-spaniel
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-chocolate-chinchilla.sh
        container: qc.doc_cheeky-cerulean-beetle
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-cerulean-abyssinian.sh
        container: qc.lic_hilly-emerald-macaque
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-ivory-pinscher.sh
        container: qc.sec_tasty-puce-axolotl
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.messy-cobalt-cat.sh
        container: qc.sty_gimpy-wheat-jaguar
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-khaki-woodlouse.sh
        container: qc.uni_shaky-chartreuse-worm
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-pink-moth.sh
        container: qc.ver_stuffy-heliotrope-termite
timeout: 5400
