config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-khaki-gopher.sh
        container: qc.acc_snappy-flax-guppy
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-razzmatazz-tzu.sh
        container: qc.doc_smelly-razzmatazz-birman
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-azure-budgerigar.sh
        container: qc.doc_silly-magenta-sponge
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-sapphire-audemer.sh
        container: qc.doc_nippy-razzmatazz-spaniel
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-emerald-rottweiler.sh
        container: qc.lic_lousy-amber-cat
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-magnolia-horse.sh
        container: qc.sty_baggy-seashell-armadillo
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-lavender-kakapo.sh
        container: qc.sty_frumpy-heliotrope-bonobo
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-maroon-bloodhound.sh
        container: qc.ver_shaky-seashell-chamois
timeout: 5400
