config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-platinum-yak.sh
        container: qc.acc_homey-seashell-bear
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cheeky-tangerine-salamander.sh
        container: qc.doc_stinky-aqua-fly
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.shabby-sepia-cuscus.sh
        container: qc.doc_gimpy-olive-malamute
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-chocolate-shrew.sh
        container: qc.doc_breezy-champagne-tang
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.flabby-magnolia-chipmunk.sh
        container: qc.lic_snoopy-tomato-dodo
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-rose-setter.sh
        container: qc.sec_boozy-corn-shrew
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-rose-dingo.sh
        container: qc.sty_dorky-platinum-fox
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-white-axolotl.sh
        container: qc.uni_geeky-chartreuse-capybara
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-celadon-serval.sh
        container: qc.ver_boozy-pear-echidna
timeout: 5400
