config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-xanthic-discus.sh
        container: qc.acc_grumpy-salmon-dollar
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-magenta-spaniel.sh
        container: qc.doc_zippy-magenta-collie
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-violet-jackal.sh
        container: qc.doc_stealthy-red-ant
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-lilac-rabbit.sh
        container: qc.doc_nerdy-viridian-capybara
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-lime-wombat.sh
        container: qc.lic_stealthy-ruby-tarsier
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.nippy-orchid-kiwi.sh
        container: qc.sec_homey-emerald-dachshund
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.ready-viridian-avocet.sh
        container: qc.sty_sloppy-cream-setter
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-violet-moth.sh
        container: qc.uni_wheezy-cinnamon-macaw
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-ecru-raccoon.sh
        container: qc.ver_goopy-black-mongoose
timeout: 5400
