config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-harlequin-gar.sh
        container: qc.acc_gummy-amaranth-olm
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-ochre-ocelot.sh
        container: qc.doc_freaky-pear-nightingale
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-eggplant-quoll.sh
        container: qc.doc_lanky-peach-coati
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-xanthic-whale.sh
        container: qc.doc_seedy-white-camel
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-coral-mammoth.sh
        container: qc.lic_baggy-apricot-squirt
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.pokey-white-cow.sh
        container: qc.sty_homey-sangria-bandicoot
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-bistre-dragonfly.sh
        container: qc.sty_sloppy-black-civet
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-green-warthog.sh
        container: qc.ver_cloudy-aquamarine-echidna
timeout: 5400
