config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-indigo-quail.sh
        container: qc.acc_snoopy-cyan-javanese
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-amaranth-collie.sh
        container: qc.doc_gummy-cornflower-octopus
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-razzmatazz-hare.sh
        container: qc.doc_boozy-amber-dog
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-fuchsia-falcon.sh
        container: qc.doc_bumpy-black-scorpion
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-platinum-cat.sh
        container: qc.lic_gamy-goldenrod-anteater
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-amber-fly.sh
        container: qc.sec_snoopy-periwinkle-tortoise
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-mauve-boar.sh
        container: qc.sty_jumpy-heliotrope-shrew
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-sapphire-maltese.sh
        container: qc.uni_goopy-teal-beetle
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.beady-lime-armadillo.sh
        container: qc.ver_hasty-salmon-termite
timeout: 5400
