config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-olivine-tamarin.sh
        container: qc.acc_ugly-cerulean-wolverine
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-amethyst-shark.sh
        container: qc.doc_wiggy-tan-gar
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-teal-penguin.sh
        container: qc.doc_stinky-viridian-greyhound
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-cyan-cattle.sh
        container: qc.doc_woozy-periwinkle-insect
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-chestnut-dachsbracke.sh
        container: qc.lic_cranky-ruby-octopus
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-chocolate-hyrax.sh
        container: qc.sty_squeaky-khaki-olm
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-lavender-bongo.sh
        container: qc.sty_flimsy-goldenrod-bullfrog
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-magnolia-hamster.sh
        container: qc.ver_boozy-brass-bison
timeout: 5400
