config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-platinum-kudu.sh
        container: qc.acc_sickly-yellow-kudu
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-gamboge-barb.sh
        container: qc.doc_lovely-blue-bombay
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-celadon-discus.sh
        container: qc.doc_foggy-mustard-opossum
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-ecru-mayfly.sh
        container: qc.doc_fuzzy-platinum-octopus
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-ecru-bloodhound.sh
        container: qc.lic_cozy-vermilion-bat
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-sangria-macaw.sh
        container: qc.sec_smelly-cream-tiger
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-myrtle-spitz.sh
        container: qc.sty_grumpy-apricot-monkey
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-gamboge-mist.sh
        container: qc.sty_shabby-brown-deer
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-periwinkle-newfoundland.sh
        container: qc.uni_woozy-vermilion-bullfrog
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-purple-rhinoceros.sh
        container: qc.ver_homey-brass-alligator
timeout: 5400
