config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-malachite-squirt.sh
        container: qc.acc_frumpy-brown-spaniel
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-orange-fousek.sh
        container: qc.doc_leaky-thistle-caiman
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-teal-butterfly.sh
        container: qc.doc_lousy-razzmatazz-shrimp
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-tangerine-lemming.sh
        container: qc.doc_gimpy-bistre-anteater
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.homey-gamboge-sheep.sh
        container: qc.lic_wheezy-turquoise-fox
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-charcoal-grasshopper.sh
        container: qc.sec_paltry-salmon-oriole
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.breezy-goldenrod-bordeaux.sh
        container: qc.sty_muzzy-rust-eleuth
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-ivory-abyssinian.sh
        container: qc.uni_scaly-violet-javanese
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.clammy-puce-gerbil.sh
        container: qc.ver_grumpy-cardinal-axolotl
timeout: 5400
