config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-magnolia-moorhen.sh
        container: qc.acc_muggy-cyan-lemur
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.homely-khaki-tarsier.sh
        container: qc.doc_snoopy-celadon-impala
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-purple-barracuda.sh
        container: qc.doc_slaphappy-bistre-capuchin
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-copper-balinese.sh
        container: qc.doc_breezy-ochre-peccary
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-persimmon-tzu.sh
        container: qc.lic_chewy-wheat-centipede
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-alizarin-ostrich.sh
        container: qc.sec_muggy-ultramarine-iguana
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-ochre-insect.sh
        container: qc.sty_breezy-bronze-skunk
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-cerise-bracke.sh
        container: qc.sty_freaky-orchid-rhinoceros
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-ecru-emu.sh
        container: qc.uni_foggy-auburn-akita
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-zucchini-zorse.sh
        container: qc.ver_gummy-jade-lion
timeout: 5400
