config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.wheezy-rust-bird.sh
        container: qc.acc_droopy-razzmatazz-hound
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-vermilion-alligator.sh
        container: qc.doc_leaky-indigo-kangaroo
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-lilac-jackal.sh
        container: qc.doc_gloppy-copper-starfish
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-olive-avocet.sh
        container: qc.doc_seedy-eggplant-kingfisher
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-thistle-spoonbill.sh
        container: qc.lic_frumpy-maroon-ferret
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-magenta-caterpillar.sh
        container: qc.sec_boozy-saffron-forest
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-aquamarine-drever.sh
        container: qc.sty_baggy-cinnabar-ragdoll
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-goldenrod-bear.sh
        container: qc.sty_fuzzy-lilac-bear
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-gamboge-lobster.sh
        container: qc.uni_frumpy-bistre-quetzal
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.messy-cornflower-wildebeest.sh
        container: qc.ver_thirsty-lime-tuatara
timeout: 5400
