config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.homely-wisteria-wolverine.sh
        container: qc.acc_tacky-azure-dollar
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-malachite-fossa.sh
        container: qc.doc_skanky-xanthic-moose
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-white-bullfrog.sh
        container: qc.doc_dorky-taupe-chameleon
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-malachite-capuchin.sh
        container: qc.doc_beady-viridian-loon
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-thistle-wildebeest.sh
        container: qc.lic_flimsy-zucchini-tang
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-cardinal-chow.sh
        container: qc.sec_fuzzy-cinnabar-bongo
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-carmine-eleuth.sh
        container: qc.sty_grumpy-ochre-tarantula
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.silly-chestnut-duck.sh
        container: qc.uni_hazy-chocolate-macaw
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-vermilion-devil.sh
        container: qc.ver_beady-pink-uguisu
timeout: 5400
