config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-violet-saola.sh
        container: qc.acc_gloppy-heliotrope-paradise
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-red-rabbit.sh
        container: qc.doc_lanky-jade-uguisu
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-chartreuse-bordeaux.sh
        container: qc.doc_gloppy-apricot-tarsier
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-cinnabar-bombay.sh
        container: qc.doc_silly-harlequin-drever
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.trippy-linen-mammoth.sh
        container: qc.lic_hasty-myrtle-whale
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-persimmon-crane.sh
        container: qc.sec_flabby-crimson-barnacle
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-flax-chinchilla.sh
        container: qc.sty_jumpy-mauve-crab
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-aqua-fish.sh
        container: qc.uni_muzzy-cream-forest
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-harlequin-barb.sh
        container: qc.ver_cozy-carmine-loon
timeout: 5400
