config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-sangria-jaguar.sh
        container: qc.acc_muggy-cerise-budgerigar
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-viridian-olm.sh
        container: qc.doc_sloppy-lilac-newfoundland
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-cornflower-molly.sh
        container: qc.doc_blurry-corn-quokka
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-amber-chihuahua.sh
        container: qc.doc_snappy-wisteria-rhinoceros
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-heliotrope-chimpanzee.sh
        container: qc.lic_wiggy-seashell-monkey
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.sunny-persimmon-magpie.sh
        container: qc.sec_snippy-wheat-donkey
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-ecru-worm.sh
        container: qc.sty_muggy-lime-hedgehog
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-crimson-donkey.sh
        container: qc.sty_sleepy-ultramarine-angora
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-smalt-pig.sh
        container: qc.uni_skanky-jade-shrew
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-plum-russel.sh
        container: qc.ver_sleazy-plum-mist
timeout: 5400
