config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-viridian-monkey.sh
        container: qc.acc_flimsy-lemon-stoat
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-thistle-drever.sh
        container: qc.doc_snippy-goldenrod-rhinoceros
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.slaphappy-blue-koala.sh
        container: qc.doc_lousy-platinum-centipede
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-mustard-jackal.sh
        container: qc.doc_gummy-plum-bobcat
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-beige-lizard.sh
        container: qc.lic_whiny-ecru-crane
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.randy-sangria-oyster.sh
        container: qc.sec_muggy-russet-mouse
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-tomato-malamute.sh
        container: qc.sty_baggy-sangria-hedgehog
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-lilac-scorpion.sh
        container: qc.uni_pasty-cerulean-uakari
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snoopy-brown-quail.sh
        container: qc.ver_woolly-ruby-woodlouse
timeout: 5400
