config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-amaranth-spaniel.sh
        container: qc.acc_pasty-emerald-fox
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-cobalt-raccoon.sh
        container: qc.doc_leaky-plum-barb
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-cream-binturong.sh
        container: qc.doc_homely-vermilion-crab
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.homely-bronze-orangutan.sh
        container: qc.doc_sickly-malachite-gerbil
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-white-tetra.sh
        container: qc.lic_greasy-buff-axolotl
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-bronze-tiger.sh
        container: qc.sec_cranky-lemon-dunker
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-denim-toucan.sh
        container: qc.sty_craggy-sangria-russel
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-plum-urchin.sh
        container: qc.uni_craggy-vermilion-avocet
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-auburn-mongrel.sh
        container: qc.ver_queasy-flax-cuttlefish
timeout: 5400
