config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-puce-squid.sh
        container: qc.acc_hazy-khaki-cougar
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-dandelion-llama.sh
        container: qc.doc_wimpy-black-gopher
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.skinny-lime-vole.sh
        container: qc.doc_skanky-zucchini-ostrich
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.silly-dandelion-maltese.sh
        container: qc.doc_muzzy-sepia-chipmunk
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-turquoise-shrimp.sh
        container: qc.lic_cheeky-khaki-worm
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-gold-woodlouse.sh
        container: qc.sty_sickly-fuchsia-uakari
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.woozy-grey-ragdoll.sh
        container: qc.sty_wimpy-pear-newt
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.surly-fuchsia-labradoodle.sh
        container: qc.ver_flaky-sepia-dugong
timeout: 5400
