config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.homely-indigo-chinook.sh
        container: qc.acc_craggy-green-dalmatian
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-corn-chamois.sh
        container: qc.doc_gummy-sepia-zebu
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.surly-orchid-baboon.sh
        container: qc.doc_muggy-vermilion-chin
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.squirrely-platinum-raccoon.sh
        container: qc.doc_skanky-azure-stoat
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-aquamarine-swan.sh
        container: qc.lic_tacky-bistre-dachshund
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-chestnut-chihuahua.sh
        container: qc.sec_boozy-chestnut-mau
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-teal-snake.sh
        container: qc.sty_flaky-jade-mandrill
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.pretty-cyan-ladybird.sh
        container: qc.uni_jumpy-firebrick-goat
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-sapphire-molly.sh
        container: qc.ver_slaphappy-cornflower-whippet
timeout: 5400
