config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.woolly-cerulean-starfish.sh
        container: qc.acc_cloudy-firebrick-wolverine
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-cinnamon-wolfhound.sh
        container: qc.doc_wheezy-lime-mist
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.flimsy-lime-collie.sh
        container: qc.doc_craggy-rose-avocet
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-champagne-caterpillar.sh
        container: qc.doc_chewy-heliotrope-chamois
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.boozy-smalt-oriole.sh
        container: qc.lic_wheezy-rust-centipede
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-chocolate-eel.sh
        container: qc.sec_jumpy-denim-sparrow
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.ugly-cyan-hamster.sh
        container: qc.sty_crabby-saffron-lynx
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-cream-magpie.sh
        container: qc.uni_woozy-russet-sparrow
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-magenta-shrimp.sh
        container: qc.ver_skimpy-orange-fowl
timeout: 5400
