config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-aqua-chihuahua.sh
        container: qc.acc_wiggy-peach-manatee
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-persimmon-bombay.sh
        container: qc.doc_boozy-white-corgi
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-burgundy-wildebeest.sh
        container: qc.doc_boozy-wisteria-caiman
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.snippy-cream-zebra.sh
        container: qc.doc_slaphappy-persimmon-oriole
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-cream-otter.sh
        container: qc.lic_zippy-mauve-blue
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.skanky-pink-zonkey.sh
        container: qc.sec_woolly-vermilion-serval
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-taupe-crane.sh
        container: qc.sty_gloppy-white-lion
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.dorky-russet-reindeer.sh
        container: qc.uni_stuffy-emerald-forest
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-lilac-coyote.sh
        container: qc.ver_scanty-lavender-retriever
timeout: 5400
