config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.surly-purple-tapir.sh
        container: qc.acc_cranky-burgundy-goat
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.homely-purple-bobcat.sh
        container: qc.doc_smelly-rose-falcon
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-amethyst-skunk.sh
        container: qc.doc_shaggy-orange-dachsbracke
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.randy-eggplant-bordeaux.sh
        container: qc.doc_thirsty-tangerine-retriever
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-rust-macaque.sh
        container: qc.lic_lumpy-mustard-monkey
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-ruby-clam.sh
        container: qc.sec_chummy-seashell-bobcat
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-violet-octopus.sh
        container: qc.sty_lovely-cinnamon-angora
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.gamy-thistle-donkey.sh
        container: qc.sty_pokey-jade-iguana
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.grumpy-auburn-lemur.sh
        container: qc.uni_geeky-asparagus-gharial
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-green-pinscher.sh
        container: qc.ver_trippy-ruby-squid
timeout: 5400
