config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.geeky-dandelion-affenpinscher.sh
        container: qc.acc_woozy-aquamarine-paradise
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.tasty-tomato-budgerigar.sh
        container: qc.doc_frumpy-platinum-octopus
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-razzmatazz-malamute.sh
        container: qc.doc_nerdy-amaranth-setter
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-khaki-peccary.sh
        container: qc.doc_boozy-ivory-vulture
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.gimpy-wheat-eleuth.sh
        container: qc.lic_bluesy-copper-dolphin
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-violet-goat.sh
        container: qc.sec_stealthy-fuchsia-dolphin
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-burgundy-fowl.sh
        container: qc.sty_thirsty-pumpkin-ladybird
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-rose-moorhen.sh
        container: qc.uni_woolly-burgundy-sheep
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-seashell-squirt.sh
        container: qc.ver_blurry-gold-sheepdog
timeout: 5400
