config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.wiggy-orange-dragon.sh
        container: qc.acc_crabby-burgundy-barracuda
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-lavender-alligator.sh
        container: qc.doc_goopy-flax-urchin
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-rust-dachshund.sh
        container: qc.doc_pretty-ruby-fish
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.fuzzy-alizarin-cougar.sh
        container: qc.doc_cranky-malachite-worm
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-goldenrod-zonkey.sh
        container: qc.lic_cozy-charcoal-chow
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.silly-silver-tuatara.sh
        container: qc.sec_thirsty-flax-goat
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-plum-boar.sh
        container: qc.sty_randy-blue-budgerigar
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-denim-slug.sh
        container: qc.uni_cheeky-aqua-molly
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-indigo-chinook.sh
        container: qc.ver_silly-cream-chamois
timeout: 5400
