config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-pear-bonobo.sh
        container: qc.acc_flaky-maroon-horse
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.sickly-magenta-bordeaux.sh
        container: qc.doc_homely-grey-hedgehog
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-bronze-chinook.sh
        container: qc.doc_squeaky-auburn-beaver
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.homey-linen-butterfly.sh
        container: qc.doc_snoopy-amber-lizard
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-peach-hippopotamus.sh
        container: qc.lic_zippy-cerise-guppy
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-blue-dingo.sh
        container: qc.sty_sunny-auburn-tuatara
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-scarlet-avocet.sh
        container: qc.sty_shaky-silver-lynx
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-cinnamon-goose.sh
        container: qc.ver_dorky-olivine-crocodile
timeout: 5400
