config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.ready-linen-lionfish.sh
        container: qc.acc_bumpy-bronze-affenpinscher
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-olivine-mastiff.sh
        container: qc.doc_pretty-chartreuse-cuttlefish
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.hazy-sapphire-uakari.sh
        container: qc.doc_greasy-blue-urchin
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-firebrick-terrier.sh
        container: qc.doc_breezy-persimmon-lynx
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.craggy-persimmon-woodpecker.sh
        container: qc.lic_nippy-salmon-ibis
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.cozy-copper-rat.sh
        container: qc.sec_gimpy-periwinkle-hummingbird
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.ready-indigo-chameleon.sh
        container: qc.sty_cheeky-cream-bombay
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-russet-snake.sh
        container: qc.uni_homely-amber-bobcat
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.cheeky-puce-lionfish.sh
        container: qc.ver_scanty-celadon-dane
timeout: 5400
