config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-malachite-orangutan.sh
        container: qc.acc_sunny-gamboge-emu
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-beige-millipede.sh
        container: qc.doc_wheezy-lilac-cat
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.randy-buff-wildebeest.sh
        container: qc.doc_scummy-tangerine-bat
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.chewy-harlequin-chihuahua.sh
        container: qc.doc_flabby-charcoal-wallaby
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-amaranth-lemur.sh
        container: qc.lic_freaky-bistre-mouse
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-rose-oyster.sh
        container: qc.sec_chewy-indigo-rattlesnake
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-plum-seal.sh
        container: qc.sty_sickly-ultramarine-hare
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-heliotrope-quail.sh
        container: qc.uni_skanky-smalt-ferret
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.sloppy-jade-terrier.sh
        container: qc.ver_shabby-goldenrod-loon
timeout: 5400
