config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-tomato-jellyfish.sh
        container: qc.acc_snappy-emerald-axolotl
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-wisteria-sheepdog.sh
        container: qc.doc_homey-emerald-fly
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-fuchsia-tarsier.sh
        container: qc.doc_wheezy-bistre-ragdoll
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-aquamarine-donkey.sh
        container: qc.doc_bluesy-burgundy-owl
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.wimpy-seashell-foxhound.sh
        container: qc.lic_hilly-burgundy-mule
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.stinky-amber-mule.sh
        container: qc.sec_lovely-heliotrope-swan
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.hilly-eggplant-fowl.sh
        container: qc.sty_beady-persimmon-horse
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.randy-khaki-kingfisher.sh
        container: qc.uni_crabby-eggplant-catfish
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-xanthic-zebu.sh
        container: qc.ver_baggy-cerise-ferret
timeout: 5400
