config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.slimy-ecru-octopus.sh
        container: qc.acc_sloppy-salmon-frog
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.muggy-wisteria-tamarin.sh
        container: qc.doc_cranky-beige-wolf
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-crimson-ladybird.sh
        container: qc.doc_paltry-goldenrod-quail
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-eggplant-serval.sh
        container: qc.doc_leaky-amber-tortoise
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-rose-fish.sh
        container: qc.lic_lovely-pear-jellyfish
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-olivine-bombay.sh
        container: qc.sec_snappy-mustard-tzu
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-azure-okapi.sh
        container: qc.sty_pretty-apricot-mole
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.greasy-emerald-octopus.sh
        container: qc.uni_frumpy-lime-leopard
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-rose-badger.sh
        container: qc.ver_muzzy-champagne-mastiff
timeout: 5400
