config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-apricot-ladybird.sh
        container: qc.acc_skanky-denim-penguin
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-plum-hornet.sh
        container: qc.doc_messy-ruby-whale
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.tacky-pink-binturong.sh
        container: qc.doc_stuffy-auburn-dogfish
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.freaky-ecru-numbat.sh
        container: qc.doc_hasty-aqua-angelfish
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-blue-chicken.sh
        container: qc.lic_scanty-sapphire-barnacle
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.gummy-aqua-peccary.sh
        container: qc.sec_cranky-ecru-tortoise
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.zippy-plum-chow.sh
        container: qc.sty_skinny-buff-tarsier
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-cream-chihuahua.sh
        container: qc.uni_snoopy-coral-baboon
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.crabby-ivory-cheetah.sh
        container: qc.ver_stinky-wisteria-corgi
timeout: 5400
