config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.crappy-salmon-bandicoot.sh
        container: qc.acc_gamy-harlequin-chicken
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-lime-foxhound.sh
        container: qc.doc_greasy-aquamarine-otter
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.gloppy-green-crocodile.sh
        container: qc.doc_snoopy-pumpkin-schnauzer
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.ready-magenta-albatross.sh
        container: qc.doc_chewy-cardinal-cheetah
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-tangerine-flamingo.sh
        container: qc.lic_fuzzy-white-shark
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.messy-crimson-dolphin.sh
        container: qc.sty_thirsty-cerulean-echidna
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-ruby-spaniel.sh
        container: qc.sty_sunny-magenta-angelfish
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-jade-ostrich.sh
        container: qc.ver_homey-sangria-dormouse
timeout: 5400
