config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.seedy-seashell-eel.sh
        container: qc.acc_hasty-gold-catfish
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.skimpy-saffron-mole.sh
        container: qc.doc_homey-blue-echidna
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.squeaky-vermilion-dolphin.sh
        container: qc.doc_snoopy-buff-blue
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.whiny-aquamarine-rabbit.sh
        container: qc.doc_shaky-taupe-dachshund
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-russet-goat.sh
        container: qc.lic_smelly-bistre-bonobo
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.scummy-mauve-leopard.sh
        container: qc.sec_smelly-black-binturong
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.lanky-russet-retriever.sh
        container: qc.sty_clammy-rust-fowl
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.chummy-grey-barracuda.sh
        container: qc.uni_scaly-coral-oriole
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.snappy-wheat-kudu.sh
        container: qc.ver_nippy-ecru-warthog
timeout: 5400
