config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.foggy-black-hare.sh
        container: qc.acc_woolly-smalt-maltese
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.scanty-chartreuse-retriever.sh
        container: qc.doc_cheeky-amber-chinchilla
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-teal-tarsier.sh
        container: qc.doc_thirsty-tan-axolotl
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.cloudy-mustard-flamingo.sh
        container: qc.doc_ugly-magenta-gharial
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.blurry-sapphire-mandrill.sh
        container: qc.lic_paltry-cyan-rhinoceros
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.lumpy-vermilion-barb.sh
        container: qc.sec_squirrely-khaki-chamois
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo flake8:
        commands:
        - /usr/bin/env sh .sqa/script.pasty-magnolia-fish.sh
        container: qc.sty_flaky-fuchsia-paradise
      github.com/PalomoIFCA/testerpyo jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.scaly-viridian-scorpion.sh
        container: qc.sty_beady-black-tortoise
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.muzzy-lavender-gecko.sh
        container: qc.uni_crappy-ivory-forest
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.jumpy-corn-hedgehog.sh
        container: qc.ver_bluesy-champagne-fousek
timeout: 5400
