config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: feature/pynblint
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/PalomoIFCA/testerpyo:
      branch: main
      repo: https://github.com/PalomoIFCA/testerpyo
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.snazzy-copper-shark.sh
        container: qc.acc_shaky-cerise-vulture
  QC.Doc:
    repos:
      github.com/PalomoIFCA/testerpyo find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-gold-warthog.sh
        container: qc.doc_silly-celadon-echidna
      github.com/PalomoIFCA/testerpyo git:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-cinnamon-bongo.sh
        container: qc.doc_fuzzy-mauve-markhor
      github.com/PalomoIFCA/testerpyo markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.bumpy-white-leopard.sh
        container: qc.doc_goopy-ecru-crocodile
  QC.Lic:
    repos:
      github.com/PalomoIFCA/testerpyo licensee:
        commands:
        - /usr/bin/env sh .sqa/script.paltry-chestnut-indri.sh
        container: qc.lic_grumpy-thistle-baboon
  QC.Sec:
    repos:
      github.com/PalomoIFCA/testerpyo bandit:
        commands:
        - /usr/bin/env sh .sqa/script.flaky-chocolate-crocodile.sh
        container: qc.sec_pasty-celadon-bandicoot
  QC.Sty:
    repos:
      github.com/PalomoIFCA/testerpyo pynblint.py:
        commands:
        - /usr/bin/env sh .sqa/script.baggy-orchid-hyrax.sh
        container: qc.sty_scaly-vermilion-kudu
  QC.Uni:
    repos:
      github.com/PalomoIFCA/testerpyo pytest:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-teal-antelope.sh
        container: qc.uni_tacky-magnolia-falcon
  QC.Ver:
    repos:
      github.com/PalomoIFCA/testerpyo get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.bluesy-cinnamon-angora.sh
        container: qc.ver_seedy-cardinal-nightingale
timeout: 5400
